.rounded-users{
  width:200px;
  }
  .border-0{
    font-size: smaller;
  }
  .spinner-text-grid{
    font-size: large !important;
  }
  .adv-rep{
   /* font-size: smaller !important;*/
    width: 40% !important;
  }
