<div class="container">
  <div class="row">
    <div class="col">
      <mat-form-field class="date-picker" id="{{idDatePickerStartDate}}">
        <mat-label>Choose start date</mat-label>
        <input matInput [matDatepicker]="pickerstartdate" [(ngModel)]="startDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerstartdate"></mat-datepicker-toggle>
        <mat-datepicker #pickerstartdate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="date-picker" id="{{idDatePickerEndDate}}">
        <mat-label>Choose end date</mat-label>
        <input matInput [matDatepicker]="pickerendate" [(ngModel)]="endDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerendate"></mat-datepicker-toggle>
        <mat-datepicker #pickerendate></mat-datepicker>
      </mat-form-field>
    </div>

  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <app-alert-error [ctrlValidDisplay]="emptyDate" [msgErrValid]="msgErrorEmpty"
      [classAlert]="classAlertError" [classWarning]="classWarningError"></app-alert-error>
      <app-alert-error [ctrlValidDisplay]="dateInvalid" [msgErrValid]="msgErrorEmpty"
      [classAlert]="classAlertError" [classWarning]="classWarningError"></app-alert-error>
      <app-alert-error [ctrlValidDisplay]="dateDiff" [msgErrValid]="msgErrorEmpty"
      [classAlert]="classAlertError" [classWarning]="classWarningError"></app-alert-error>
    </div>
    <div class="col">
      <button (click)="displayReport()" class="btn btn-block btn-secondary dis-data" id="{{idBtn}}">
         Display Data
      </button>
    </div>
    <div class="col"></div>

  </div>

</div>
